[Unit]
Description=vault server
Requires=network-online.target
After=network-online.target postgresql.service

[Service]
EnvironmentFile=-/etc/vault.d/vault.env
ExecStart=/usr/local/bin/vault server $OPTIONS -config=/etc/vault.d/config.hcl
ExecStartPost=/etc/vault.d/bootstrap_vault.sh

[Install]
WantedBy=multi-user.target
