
      <!-- ========== Left Sidebar Start ========== -->
      <div class="left side-menu">
          <div class="sidebar-inner slimscrollleft">

              <div id="sidebar-menu">
                  <ul>

                    <li>
                      <a href="#" class="waves-effect waves-primary subdrop">
                        <i class="md md-dashboard"></i><span> Infrastructure </span>
                      </a>
                    </li>
                    <!--
                    <li class="has_sub">
                      <a href="#" class="waves-effect waves-primary">
                        <i class="md md-palette"></i> <span> Config & Install </span>
                      </a>
                    </li>
                    <li class="has_sub">
                      <a href="#" class="waves-effect waves-primary">
                        <i class="md md-invert-colors-on"></i><span> Add-ons </span>
                      </a>
                    </li>
                    <li class="has_sub">
                      <a href="#" class="waves-effect waves-primary">
                        <i class="md md-redeem"></i><span> System Settings </span>
                      </a>
                    </li>
                    -->
                  </ul>
                  <div class="clearfix"></div>
              </div>

              <div class="clearfix"></div>
          </div>

          <div class="user-detail" style="position: absolute; bottom: 0;">
              <div class="dropup">
                  <span class="user-info-span">
                    <button class="btn btn-md" type="submit" ng-click="vm.logOutOfAdmiral($event)">
                      <i class="md md-settings-power"></i>Logout
                    </button>
                  </span>
              </div>
          </div>

      </div>
      <!-- Left Sidebar End -->


      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
          <!-- Start content -->
          <div class="content">
              <div class="container">


<!-- Page-Title -->
<div class="row">
    <div class="col-md-12">
      <div class="page-title-box">
          <h4 class="page-title">Infrastructure</h4>
      </div>
    </div>
</div>
<!-- end row -->

<!-- Horn -->
<div class="row">
  <div id="horn" class="ss-horn-bar">
   <div ng-cloak class="alert {{hornMessageStyle(horn)}} ss-natural-word-break ss-page-container"
     ng-repeat="horn in horns">
     <a href="" class="pull-right" ng-click="removeHornMessage(horn)">x</a>
     <div ng-bind-html="horn.message"></div>
   </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="card-box">
        <h4 class="header-title m-t-0"><b>SUMMARY</b></h4>
        <p class="text-muted m-b-20 font-13">
            A detailed summary of this full section. ...
        </p>
        <p>
          <label class="control-label">All Nodes</label>
          <p class="font-13">
            <b>Node 1:</b> <code>123.123.123.123</code> (Admiral runs on it)
          </p>
          <p class="font-13">
            <b>Node 2:</b> <code>111.222.333.111</code> (Database runs on it)
          </p>
        </p>
      </div>
      <div class="card-box">
        <div class="row">
          <div class="col-md-2">
            <h5 class="m-t-20"><b>Installer Access Key:</b></h5>
          </div>
          <div class="col-md-5 m-t-15">
            <input type="text" class="form-control input-sm" name="installerAccessKey" placeholder="Access Key (Optional)" ng-disabled="vm.initializing"
            ng-model="vm.initializeForm.installerAccessKey"/>
          </div>
          <div class="col-md-4 m-t-20">
            <a href="http://www.shippable.com/contact.html">Contact us to obtain your keys</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h5 class="m-t-20"><b>Installer Secret Key:</b></h5>
          </div>
          <div class="col-md-5 m-t-15">
            <input type="text" class="form-control input-sm" name="installerSecretKey" placeholder="Secret Key (Optional)" ng-disabled="vm.initializing"
            ng-model="vm.initializeForm.installerSecretKey"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h5 class="m-t-20"><b>Admiral Environment:</b></h5>
          </div>
          <div class="col-md-10 m-t-15">
            <button class="btn btn-sm btn-primary" ng-click="vm.showAdmiralEnvModal()">Config</button>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- END ROW -->

<!-- START Database -->
<div class="row">
    <div class="col-md-12">
      <div class="portlet">

        <div class="portlet-heading" style="background-color: #e0dee0 !important;">
          <h3 class="portlet-title text-dark">
              Database
          </h3>
          <div class="portlet-widgets">
              <span class="divider"></span>
              <span class="text-dark" ng-if="vm.systemSettings.db.isProcessing">initializing...</span>
              <span class="text-dark" ng-if="!vm.systemSettings.db.isProcessing && !vm.systemSettings.db.isFailed">
                {{vm.systemSettings.db.isInitialized ? 'initialized' : 'not initialized'}}
              </span>
              <span class="text-dark" ng-if="!vm.systemSettings.db.isProcessing && vm.systemSettings.db.isFailed">failed &#x26a0;</span>
              <span class="divider"></span>
              <a data-toggle="collapse" href="#bg-database"><i class="ion-minus-round"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="bg-database" class="panel-collapse collapse in">
          <div class="portlet-body">

              <div class="row">
                <div class="col-md-9">
                  <p class="text-muted m-b-20 font-13">
                      A short one liner on what this section is ...
                  </p>
                </div>
                <div class="col-md-3 alignTextRight">
                  <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('db')" ng-disabled="!vm.systemSettings.db.isInitialized">Config</button>
                  <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('db')" ng-disabled="!vm.systemSettings.db.isProcessing && !vm.systemSettings.db.isFailed && !vm.systemSettings.db.isInitialized">Logs</button>
                </div>
              </div><!-- END row -->

            </div><!-- END portlet-body -->
          </div><!-- END bg-default12 -->


      </div><!-- END portlet -->
    </div><!-- END col-md-12 -->
</div><!-- END row -->
<!-- END Database -->


<!-- START Secrets -->
<div class="row">
    <div class="col-md-12">
      <div class="portlet">

        <div class="portlet-heading" style="background-color: #e1dbf5 !important;">
          <h3 class="portlet-title text-dark">
              SECRETS
          </h3>
          <div class="portlet-widgets">
              <span class="divider"></span>
              <span class="text-dark" ng-if="vm.systemSettings.secrets.isProcessing">initializing...</span>
              <span class="text-dark" ng-if="!vm.systemSettings.secrets.isProcessing && !vm.systemSettings.secrets.isFailed">
                {{vm.systemSettings.secrets.isInitialized ? 'initialized' : 'not initialized'}}
              </span>
              <span class="text-dark" ng-if="!vm.systemSettings.secrets.isProcessing && vm.systemSettings.secrets.isFailed">failed &#x26a0;</span>
              <span class="divider"></span>
              <a data-toggle="collapse" href="#bg-secrets"><i class="ion-minus-round"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="bg-secrets" class="panel-collapse">
          <div class="portlet-body">

              <div class="row">
                <div class="col-md-9">
                  <p class="text-muted m-b-20 font-13">
                      A short one liner on what this section is ...
                  </p>
                </div>
                <div class="col-md-3 alignTextRight">
                  <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('secrets')" ng-disabled="!vm.systemSettings.db.isInitialized">config</button>
                  <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('secrets')" ng-disabled="!vm.systemSettings.secrets.isProcessing && !vm.systemSettings.secrets.isFailed && !vm.systemSettings.secrets.isInitialized">logs</button>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                    <h5>Install Secrets on:</h5>
                    <div class="radio radio-primary m-t-0 m-b-20">
                        <input id="secrets_install_on_this_node" type="radio" value="admiral"
                           ng-model="vm.initializeForm.secrets.initType">
                        <label for="secrets_install_on_this_node" class="control-label">This Node</label>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <!-- Button trigger modal -->
                  <button class="btn btn-default waves-effect waves-light m-t-10"
                    ng-disabled="vm.systemSettings.secrets.isInitialized || vm.initializing"
                    ng-click="vm.showInstallLocationModal('secrets')">
                    Add a new Node details instead
                  </button>
                </div>
                <div class="col-md-4 m-t-10" ng-if="vm.initializeForm.secrets.initType === 'new'">
                  <h5><code>New node details are updated.</code></h5>
                </div>
                <div class="col-md-4 m-t-10" ng-if="vm.initializeForm.secrets.initType === 'existing'">
                  <h5><code>Existing node details are updated.</code></h5>
                </div>
              </div>

          </div><!-- END portlet-body -->
        </div><!-- END bg-secrets -->


      </div><!-- END portlet -->
    </div><!-- END col-md-12 -->
  </div><!-- END ROW -->
<!-- END Secrets -->


<!-- START RabbitMQ -->
<div class="row">
    <div class="col-md-12">
      <div class="portlet">

        <div class="portlet-heading" style="background-color: #dae5e4 !important;">
          <h3 class="portlet-title text-dark">
              MESSAGING (RabbitMQ)
          </h3>
          <div class="portlet-widgets">
              <span class="divider"></span>
              <span class="text-dark" ng-if="vm.systemSettings.msg.isProcessing">initializing...</span>
              <span class="text-dark" ng-if="!vm.systemSettings.msg.isProcessing && !vm.systemSettings.msg.isFailed">
                {{vm.systemSettings.msg.isInitialized ? 'initialized' : 'not initialized'}}
              </span>
              <span class="text-dark" ng-if="!vm.systemSettings.msg.isProcessing && vm.systemSettings.msg.isFailed">failed &#x26a0;</span>
              <span class="divider"></span>
              <a data-toggle="collapse" href="#bg-rabbitmq"><i class="ion-minus-round"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="bg-rabbitmq" class="panel-collapse">
          <div class="portlet-body">

              <div class="row">
                <div class="col-md-9">
                  <p class="text-muted m-b-20 font-13">
                      A short one liner on what this section is ...
                  </p>
                </div>
                <div class="col-md-3 alignTextRight">
                  <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('msg')" ng-disabled="!vm.systemSettings.db.isInitialized">Config</button>
                  <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('msg')" ng-disabled="!vm.systemSettings.msg.isProcessing && !vm.systemSettings.msg.isFailed && !vm.systemSettings.msg.isInitialized">Logs</button>
                </div>
              </div><!-- END row -->

              <div class="row">
                <div class="col-md-2">
                    <h5>Install RabbitMQ on:</h5>
                    <div class="radio radio-primary m-t-0 m-b-20">
                        <input type="radio" value="admiral" name="install_location_rabbit" id="install_location_rabbit"
                           ng-model="vm.initializeForm.msg.initType">
                        <label for="install_location_rabbit" class="control-label">This Node</label>
                    </div>
                </div>
                <div class="col-md-4" ng-if="vm.initializeForm.msg.initType === 'admiral'">
                    <h5 ng-if="vm.initializeForm.msg.initType !== 'existing'">Choose a password for RabbitMQ:</h5>
                    <h5 ng-if="vm.initializeForm.msg.initType === 'existing'">RabbitMQ Password:</h5>
                    <div ng-class="vm.validatePassword(vm.initializeForm.msg.password)" class="m-b-10">
                      <input type="text" class="form-control input-sm" name="msgPassword"
                      ng-model="vm.initializeForm.msg.password" placeholder="8 or more characters" ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing"/>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <!-- Button trigger modal -->
                  <button class="btn btn-default waves-effect waves-light m-t-10"
                    ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing"
                    ng-click="vm.showInstallLocationModal('msg')">
                    Add a new Node details instead
                  </button>
                </div>
                <div class="col-md-4 m-t-10" ng-if="vm.initializeForm.msg.initType === 'new'">
                  <h5><code>New node details are updated.</code></h5>
                </div>
                <div class="col-md-4 m-t-10" ng-if="vm.initializeForm.msg.initType === 'existing'">
                  <h5><code>Existing node details are updated.</code></h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12" ng-if="vm.installForm.msg.rabbitmqCreds.data.amqpUrl">
                  <h4 class="m-t-30">Service Addresses</h4>
                  <h5>amqp URL</h5>
                  <p style="word-wrap: break-word;">{{vm.installForm.msg.rabbitmqCreds.data.amqpUrl}}</p>
                </div>

                <div class="col-md-12" ng-if="vm.installForm.msg.rabbitmqCreds.data.amqpUrlRoot">
                  <form class="form-horizontal">
                    <h5>amqp Root Url:</h5>
                    <p style="word-wrap: break-word;">{{vm.installForm.msg.rabbitmqCreds.data.amqpUrlRoot}}</p>
                  </form>
                </div>

                <div class="col-md-12" ng-if="vm.installForm.msg.rabbitmqCreds.data.amqpUrlAdmin">
                  <form class="form-horizontal">
                    <h5>amqp Admin URL</h5>
                    <p style="word-wrap: break-word;">{{vm.installForm.msg.rabbitmqCreds.data.amqpUrlAdmin}}</p>
                  </form>
                </div>

                <div class="col-md-12" ng-if="vm.installForm.msg.rabbitmqCreds.data.amqpDefaultExchange">
                  <form class="form-horizontal">
                    <h5>amqp Default Exchange</h5>
                    <p style="word-wrap: break-word;">{{vm.installForm.msg.rabbitmqCreds.data.amqpDefaultExchange}}</p>
                  </form>
                </div>

                <div class="col-md-12" ng-if="vm.installForm.msg.rabbitmqCreds.data.rootQueueList">
                  <form class="form-horizontal">
                    <h5>Root Queue List</h5>
                    <p style="word-wrap: break-word;">{{vm.installForm.msg.rabbitmqCreds.data.rootQueueList}}</p>
                  </form>
                </div>

              </div><!--row ends-->

            </div><!-- END portlet-body -->
          </div><!-- END bg-default12 -->


      </div><!-- END portlet -->
    </div><!-- END col-md-12 -->

  </div><!-- END ROW -->
  <!-- END RabbitMQ -->



  <!-- START State -->
  <div class="row">
      <div class="col-md-12">
        <div class="portlet">

          <div class="portlet-heading" style="background-color: #eadee9 !important;">
            <h3 class="portlet-title text-dark">
                STATE
            </h3>
            <div class="portlet-widgets">
                <span class="divider"></span>
                <span class="text-dark" ng-if="vm.systemSettings.state.isProcessing">initializing...</span>
                <span class="text-dark" ng-if="!vm.systemSettings.state.isProcessing && !vm.systemSettings.state.isFailed">
                  {{vm.systemSettings.state.isInitialized ? 'initialized' : 'not initialized'}}
                </span>
                <span class="text-dark" ng-if="!vm.systemSettings.state.isProcessing && vm.systemSettings.state.isFailed">failed &#x26a0;</span>
                <span class="divider"></span>
                <a data-toggle="collapse" href="#bg-state"><i class="ion-minus-round"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="bg-state" class="panel-collapse">
            <div class="portlet-body">

                <div class="row">
                  <div class="col-md-9">
                    <p class="text-muted m-b-20 font-13">
                        A short one liner on what this section is ...
                    </p>
                  </div>
                  <div class="col-md-3 alignTextRight">
                    <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('state')"
                      ng-disabled="!vm.systemSettings.db.isInitialized">
                      Config
                    </button>
                    <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('state')"
                      ng-disabled="!vm.systemSettings.state.isProcessing && !vm.systemSettings.state.isFailed && !vm.systemSettings.state.isInitialized">
                      Logs
                    </button>
                  </div>
                </div><!-- END row -->

                <div class="row">
                  <div class="col-md-2">
                      <h5>Install State on:</h5>
                      <div class="radio radio-primary m-t-0 m-b-20">
                          <input type="radio" value="admiral"
                             ng-model="vm.initializeForm.state.initType">
                          <label class="control-label">This Node</label>
                      </div>
                  </div>
                  <div class="col-md-4" ng-if="vm.initializeForm.state.initType === 'admiral'">
                      <h5 ng-if="vm.initializeForm.state.initType !== 'existing'">Choose a password for State:</h5>
                      <h5 ng-if="vm.initializeForm.state.initType === 'existing'">Password for State root user:</h5>
                      <div ng-class="vm.validatePassword(vm.initializeForm.state.rootPassword)" class="m-b-10">
                        <input type="text" class="form-control input-sm" name="statePassword"
                          ng-model="vm.initializeForm.state.rootPassword" placeholder="8 or more characters"
                          ng-disabled="vm.systemSettings.state.isInitialized || vm.initializing"/>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <!-- Button trigger modal -->
                    <button class="btn btn-default waves-effect waves-light m-t-10"
                      ng-disabled="vm.systemSettings.state.isInitialized || vm.initializing"
                      ng-click="vm.showInstallLocationModal('state')">
                      Add a new Node details instead
                    </button>
                  </div>
                  <div class="col-md-4 m-t-10" ng-if="vm.initializeForm.state.initType === 'new'">
                    <h5><code>New node details are updated.</code></h5>
                  </div>
                  <div class="col-md-4 m-t-10" ng-if="vm.initializeForm.state.initType === 'existing'">
                    <h5><code>Existing node details are updated.</code></h5>
                  </div>
                </div>

              </div><!-- END portlet-body -->
            </div><!-- END bg-default12 -->


        </div><!-- END portlet -->
      </div><!-- END col-md-12 -->

    </div><!-- END ROW -->
    <!-- END State -->


<!-- Initialize button -->
  <div class="col-md-offset-10 col-md-2">
    <button class="btn btn-md btn-primary waves-effect waves-light m-t-10" type="submit" ng-click="vm.initialize()"
      ng-disabled="vm.initializing || (vm.initializeForm.secrets.initType === 'new' && !vm.initializeForm.secrets.confirmCommand) || (vm.initializeForm.msg.initType === 'new' && !vm.initializeForm.msg.confirmCommand) || (vm.initializeForm.state.initType === 'new' && !vm.initializeForm.state.confirmCommand) || (vm.initializeForm.redis.initType === 'new' && !vm.initializeForm.redis.confirmCommand) || (vm.initializeForm.workers.initType === 'new' && !vm.initializeForm.workers.confirmCommand)">
      <div ng-if="vm.initializing">
        Initializing...
      </div>
      <div ng-if="!vm.initializing">
        Initialize
      </div>
    </button>

  </div>


    </div>
    <!-- end container -->

  </div>
  <!-- end content -->

  <!-- FOOTER -->
  <footer class="footer text-right">
  2018 © Shippable.
  </footer>
  <!-- End FOOTER -->

</div>

<!-- START Configs Modal -->
<div class="modal fade" id="configsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{vm.selectedService.displayName}} Configs</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="config in vm.selectedService.configs">
              <td>
                <b>{{config.key}}:</b>
              </td>
              <td style="word-wrap: break-word; word-break: break-all;">
                {{config.value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- END Configs Modal -->

<!-- START Logs Modal -->
<div class="modal fade" id="logsModal"
  tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          {{vm.selectedService.displayName}} Logs
          <button class="btn btn-sm btn-default" ng-click="vm.refreshLogs()">
            Refresh
          </button>
        </h4>
      </div>
      <div class="modal-body ship-console">
        <div class="ship-console-command-line" ng-repeat="log in vm.selectedService.logs track by $index">
          {{log}}
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- END Logs Modal -->

<!-- START Install Location Node Modal for MSG -->
<div id="msg-location-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #f7f7f7">
            <div class="modal-header">
                <button ng-click="vm.resetInstallLocationModal('msg')" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Node details for RabbitMQ</h4>
            </div>
            <div class="modal-body">
              <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                      <div class="radio radio-primary m-t-0 m-b-20">
                          <input type="radio" value="new" name="install_location_rabbit_new_node" id="install_location_rabbit_new_node"
                             ng-model="vm.initializeForm.msg.initType">
                          <label for="install_location_rabbit_new_node" class="control-label">New Node</label>
                      </div>
                    </div>
                  </div>

                  <div class="row" id="new" ng-if="vm.initializeForm.msg.initType === 'new'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark" ng-if="vm.initializeForm.msg.initType !== 'new'">Choose a password for RabbitMQ:</span>
                            <span ng-if="vm.initializeForm.msg.initType === 'new'">RabbitMQ Password:</span>
                            <div ng-class="vm.validatePassword(vm.initializeForm.msg.password)">
                              <input type="text" class="form-control input-sm" name="msgPassword"
                              ng-model="vm.initializeForm.msg.password" placeholder="8 or more characters" ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">IP address to install RabbitMQ:</span>
                            <div ng-class="vm.validateIP(vm.initializeForm.msg.address)">
                              <input type="text" class="form-control input-sm" name="msgAddress" placeholder="0.0.0.0" ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing"
                              ng-model="vm.initializeForm.msg.address"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">Please run this command on your node to authorize SSH access:</span>
                            <div class="ss-action"></div>
                            <div class="ship-console" style="word-break: break-all;">
                              {{vm.initializeForm.sshCommand}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <div class="checkbox checkbox-success m-t-0" ng-class="vm.initializeForm.msg.confirmCommand ? '' : 'has-error'">
                        <div class="checkbox">
                          <input id="checkbox_confirmCommand" type="checkbox" ng-model="vm.initializeForm.msg.confirmCommand"/>
                          <label for="checkbox_confirmCommand">Click here once you have run the above command on your node</label>
                        </div>
                      </div>
                    </div>
                </div>

              </div>
              <div class="card-box">
                <div class="row">
                  <div class="col-md-12">
                    <div class="radio radio-primary m-t-0 m-b-20">
                        <input type="radio" name="existing_msg" id="existing_msg"
                          value="existing" ng-model="vm.initializeForm.msg.initType">
                        <label class="control-label" for="existing_msg"
                          value="existing" ng-model="vm.initializeForm.msg.initType">
                          Existing Node
                        </label>
                    </div>
                  </div>

                  <div class="row" id="existing" ng-if="vm.initializeForm.msg.initType === 'existing'">
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="text-dark">RabbitMQ Username:</span>
                            <div ng-class="vm.initializeForm.msg.username.length ? '' : 'has-error'">
                              <input type="text" class="form-control input-sm" name="msgUsername"
                                ng-model="vm.initializeForm.msg.username" placeholder="username"
                                ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="text-dark" ng-if="vm.initializeForm.msg.initType !== 'existing'">Choose a password for RabbitMQ:</span>
                            <span ng-if="vm.initializeForm.msg.initType === 'existing'">RabbitMQ Password:</span>
                            <div ng-class="vm.validatePassword(vm.initializeForm.msg.password)">
                              <input type="text" class="form-control input-sm" name="msgPassword"
                                ng-model="vm.initializeForm.msg.password" placeholder="8 or more characters"
                                ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="form-group">
                            <span class="text-dark">IP address of your existing RabbitMQ installation:</span>
                            <div ng-class="vm.validateIP(vm.initializeForm.msg.address)">
                              <input type="text" class="form-control input-sm" name="msgAddress" placeholder="0.0.0.0"
                                ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing"
                                ng-model="vm.initializeForm.msg.address"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-2">Protocol used to connect to your RabbitMQ installation:</label>
                            <div>
                              <span>
                                <input type="radio" ng-model="vm.initializeForm.msg.isSecure" ng-value=false
                                ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing">
                                amqp
                              </span>
                              <span>
                                <input type="radio" ng-model="vm.initializeForm.msg.isSecure"
                                ng-disabled="vm.systemSettings.msg.isInitialized || vm.initializing" ng-value=true>
                                amqps
                              </span>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.resetInstallLocationModal('msg')" class="btn btn-default waves-effect" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light"  data-dismiss="modal" name="msg_save_location">
                  Save changes
                </button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
<!-- END Install Location Node Modal -->


<!-- START Install Location Node Modal for SECRETS -->
<div id="secrets-location-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSecrets" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #f7f7f7">
            <div class="modal-header">
                <button ng-click="vm.resetInstallLocationModal('secrets')" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Node details for Secrets</h4>
            </div>
            <div class="modal-body">
              <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                      <div class="radio radio-primary m-t-0 m-b-20">
                          <input id="secrets_install_on_new_node" type="radio" value="new"
                             ng-model="vm.initializeForm.secrets.initType">
                          <label for="secrets_install_on_new_node" class="control-label">New Node</label>
                      </div>
                    </div>
                  </div>

                  <div class="row" id="new" ng-if="vm.initializeForm.secrets.initType === 'new'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">IP address to install Secrets:</span>
                            <div ng-class="vm.validateIP(vm.initializeForm.secrets.address)">
                              <input type="text" class="form-control input-sm" name="secretsAddress" placeholder="0.0.0.0"
                                ng-disabled="vm.systemSettings.secrets.isInitialized || vm.initializing"
                                ng-model="vm.initializeForm.secrets.address"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">Please run this command on your node to authorize SSH access:</span>
                            <div class="ss-action"></div>
                            <div class="ship-console" style="word-break: break-all;">
                              {{vm.initializeForm.sshCommand}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <div class="checkbox checkbox-success m-t-0" ng-class="vm.initializeForm.secrets.confirmCommand ? '' : 'has-error'">
                        <div class="checkbox">
                          <input id="checkbox_confirmCommand" type="checkbox" ng-model="vm.initializeForm.secrets.confirmCommand"/>
                          <label for="checkbox_confirmCommand">Click here once you have run the above command on your node</label>
                        </div>
                      </div>
                    </div>
                </div>

              </div>
              <div class="card-box">
                <div class="row">
                  <div class="col-md-12">
                    <div class="radio radio-primary m-t-0 m-b-20">
                        <input type="radio" id="secrets_install_on_existing_node"
                          value="existing" ng-model="vm.initializeForm.secrets.initType">
                        <label for="secrets_install_on_existing_node" class="control-label">
                          Existing Node
                        </label>
                    </div>
                  </div>

                  <div class="row" id="existing" ng-if="vm.initializeForm.secrets.initType === 'existing'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">IP address of your existing Secrets installation:</span>
                            <div ng-class="vm.validateIP(vm.initializeForm.secrets.address)">
                              <input type="text" class="form-control input-sm" name="secretsAddress" placeholder="0.0.0.0"
                                ng-disabled="vm.systemSettings.secrets.isInitialized || vm.initializing"
                                ng-model="vm.initializeForm.secrets.address"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">Root token for your Secrets installation:</span>
                            <div ng-class="vm.initializeForm.secrets.rootToken.length ? '' : 'has-error'">
                              <input type="text" class="form-control input-sm" name="secretsRootToken" placeholder="root token"
                                ng-disabled="vm.initializing"
                                ng-model="vm.initializeForm.secrets.rootToken"/>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.resetInstallLocationModal('secrets')" class="btn btn-default waves-effect" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light"  data-dismiss="modal" name="secrets_save_location">
                  Save changes
                </button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
<!-- END Install Location Node Modal for SECRETS-->


<!-- START Install Location Node Modal for STATE -->
<div id="state-location-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #f7f7f7">
            <div class="modal-header">
                <button ng-click="vm.resetInstallLocationModal('state')" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Node details for State</h4>
            </div>
            <div class="modal-body">
              <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                      <div class="radio radio-primary m-t-0 m-b-20">
                          <input type="radio" value="new"
                             ng-model="vm.initializeForm.state.initType">
                          <label class="control-label">New Node</label>
                      </div>
                    </div>
                  </div>

                  <div class="row" id="new" ng-if="vm.initializeForm.state.initType === 'new'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark" ng-if="vm.initializeForm.state.initType !== 'existing'">Choose a password for State:</span>
                            <span ng-if="vm.initializeForm.state.initType === 'existing'">Password for State root user:</span>
                            <div ng-class="vm.validatePassword(vm.initializeForm.state.rootPassword)">
                              <input type="text" class="form-control input-sm" name="statePassword"
                                ng-model="vm.initializeForm.state.rootPassword" placeholder="8 or more characters"
                                ng-disabled="vm.systemSettings.state.isInitialized || vm.initializing"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">IP address to install State:</span>
                            <div ng-class="vm.validateIP(vm.initializeForm.state.address)">
                              <input type="text" class="form-control input-sm" name="stateAddress" placeholder="0.0.0.0"
                                ng-disabled="vm.systemSettings.state.isInitialized || vm.initializing"
                                ng-model="vm.initializeForm.state.address"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="text-dark">Please run this command on your node to authorize SSH access:</span>
                            <div class="ss-action"></div>
                            <div class="ship-console" style="word-break: break-all;">
                              {{vm.initializeForm.sshCommand}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <div class="checkbox checkbox-success m-t-0" ng-class="vm.initializeForm.state.confirmCommand ? '' : 'has-error'">
                        <div class="checkbox">
                          <input id="checkbox_confirmCommand" type="checkbox" ng-model="vm.initializeForm.state.confirmCommand"/>
                          <label for="checkbox_confirmCommand">Click here once you have run the above command on your node</label>
                        </div>
                      </div>
                    </div>
                </div>

              </div>
              <div class="card-box">
                <div class="row">
                  <div class="col-md-12">
                    <div class="radio radio-primary m-t-0 m-b-20">
                        <input type="radio"
                          value="existing" ng-model="vm.initializeForm.state.initType">
                        <label class="control-label"
                          value="existing" ng-model="vm.initializeForm.state.initType">
                          Existing Node
                        </label>
                    </div>
                  </div>

                  <div class="row" id="existing" ng-if="vm.initializeForm.state.initType === 'existing'">
                    <div class="col-md-11">
                        <div class="form-group">
                            <span class="text-dark" ng-if="vm.initializeForm.state.initType !== 'existing'">Choose a password for State:</span>
                            <span ng-if="vm.initializeForm.state.initType === 'existing'">Password for State root user:</span>
                            <div ng-class="vm.validatePassword(vm.initializeForm.state.rootPassword)">
                              <input type="text" class="form-control input-sm" name="statePassword"
                                ng-model="vm.initializeForm.state.rootPassword" placeholder="8 or more characters"
                                ng-disabled="vm.systemSettings.state.isInitialized || vm.initializing"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="form-group">
                            <span class="text-dark">IP address of your existing State installation:</span>
                            <div ng-class="vm.validateIP(vm.initializeForm.state.address)">
                              <input type="text" class="form-control input-sm" name="stateAddress" placeholder="0.0.0.0"
                                ng-disabled="vm.systemSettings.state.isInitialized || vm.initializing"
                                ng-model="vm.initializeForm.state.address"/>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.resetInstallLocationModal('state')" class="btn btn-default waves-effect" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light"  data-dismiss="modal" name="state_save_location">
                  Save changes
                </button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
<!-- END STATE Install Location Node Modal -->
