<div>
  <div class="text-right">
    <button class="btn btn-md" type="submit" ng-click="vm.logOutOfAdmiral($event)">Log out</button>
  </div>
  <div class="text-center">
    <h2>Admiral - Shippable Admin Panel</h2>
  </div>
  <div>
    <div class="col-md-offset-1 col-md-10">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#initpanel">1. Initialize</a>
            </h3>
          </div>
          <div id="initpanel" class="panel-collapse collapse in">
            <div class="panel-body">
              <div ng-if="!vm.isLoaded">
                Loading...
              </div>
              <div class="col-md-offset-1 col-md-10" ng-if="vm.isLoaded">
                <div ng-if="!vm.systemSettings.msg.isInitialized"
                  class="row">
                  <span class="col-md-7">Choose a password for RabbitMQ (the message bus):</span>
                  <div class="col-md-5">
                    <input type="text" class="form-control" name="msgPassword"
                    ng-model="vm.initializeForm.msgPassword" ng-disabled="vm.initializing"/>
                  </div>
                </div>
                <div ng-if="!vm.systemSettings.state.isInitialized" class="row">
                  <span class="col-md-7">Choose a password for Gitlab (this stores job state):</span>
                  <div class="col-md-5">
                    <input type="text" class="form-control" name="statePassword"
                    ng-model="vm.initializeForm.statePassword" ng-disabled="vm.initializing"/>
                  </div>
                </div>
                <div ng-if="!vm.admiralEnv.ACCESS_KEY" class="row">
                  <span class="col-md-7">Enter your installer access key:</span>
                  <div class="col-md-5">
                    <input type="text" class="form-control" name="accessKey"
                    ng-model="vm.initializeForm.accessKey" ng-disabled="vm.initializing"/>
                  </div>
                </div>
                <div ng-if="!vm.admiralEnv.SECRET_KEY" class="row">
                  <span class="col-md-7">Enter your installer secret key:</span>
                  <div class="col-md-5">
                    <input type="text" class="form-control" name="secretKey"
                    ng-model="vm.initializeForm.secretKey" ng-disabled="vm.initializing"/>
                  </div>
                </div>
                <div class="row">
                  <table class="table table-condensed table-striped">
                    <thead>
                      <tr ng-if="vm.initializeResponse">
                        <th colspan=3>
                          <div class="alert alert-danger">
                            {{vm.errorMessage}}
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <b>Admiral Environment:</b>
                        </td>
                        <td>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-default" ng-click="vm.showAdmiralEnvModal()">config</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>Database:</b>
                        </td>
                        <td>
                          <span ng-if="vm.systemSettings.db.isProcessing">initializing...</span>
                          <span ng-if="!vm.systemSettings.db.isProcessing && !vm.systemSettings.db.isFailed">
                            {{vm.systemSettings.db.isInitialized ? 'initialized' : 'not initialized'}}
                          </span>
                          <span ng-if="!vm.systemSettings.db.isProcessing && vm.systemSettings.db.isFailed">failed &#x26a0;</span>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('db')">config</button>
                          <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('db')">logs</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>Secrets:</b>
                        </td>
                        <td>
                          <span ng-if="vm.systemSettings.secrets.isProcessing">initializing...</span>
                          <span ng-if="!vm.systemSettings.secrets.isProcessing && !vm.systemSettings.secrets.isFailed">
                            {{vm.systemSettings.secrets.isInitialized ? 'initialized' : 'not initialized'}}
                          </span>
                          <span ng-if="!vm.systemSettings.secrets.isProcessing && vm.systemSettings.secrets.isFailed">failed &#x26a0;</span>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('secrets')" >config</button>
                          <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('secrets')">logs</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>Messaging:</b>
                        </td>
                        <td>
                          <span ng-if="vm.systemSettings.msg.isProcessing">initializing...</span>
                          <span ng-if="!vm.systemSettings.msg.isProcessing && !vm.systemSettings.msg.isFailed">
                            {{vm.systemSettings.msg.isInitialized ? 'initialized' : 'not initialized'}}
                          </span>
                          <span ng-if="!vm.systemSettings.msg.isProcessing && vm.systemSettings.msg.isFailed">failed &#x26a0;</span>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('msg')">config</button>
                          <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('msg')">logs</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>State:</b>
                        </td>
                        <td>
                          <span ng-if="vm.systemSettings.state.isProcessing">initializing...</span>
                          <span ng-if="!vm.systemSettings.state.isProcessing && !vm.systemSettings.state.isFailed">
                            {{vm.systemSettings.state.isInitialized ? 'initialized' : 'not initialized'}}
                          </span>
                          <span ng-if="!vm.systemSettings.state.isProcessing && vm.systemSettings.state.isFailed">failed &#x26a0;</span>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('state')">config</button>
                          <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('state')">logs</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>Redis:</b>
                        </td>
                        <td>
                          <span ng-if="vm.systemSettings.redis.isProcessing">initializing...</span>
                          <span ng-if="!vm.systemSettings.redis.isProcessing && !vm.systemSettings.redis.isFailed">
                            {{vm.systemSettings.redis.isInitialized ? 'initialized' : 'not initialized'}}
                          </span>
                          <span ng-if="!vm.systemSettings.redis.isProcessing && vm.systemSettings.redis.isFailed">failed &#x26a0;</span>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-default" ng-click="vm.showConfigModal('redis')">config</button>
                          <button class="btn btn-sm btn-default" ng-click="vm.showLogModal('redis')">logs</button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan=3 class="text-right">
                          <button class="btn btn-md btn-primary" type="submit" ng-disabled="vm.initializing" ng-click="vm.initialize()">
                            <div ng-if="vm.initializing">
                              Initializing...
                            </div>
                            <div ng-if="!vm.initializing">
                              Initialize
                            </div>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#installpanel">2. Install</a>
            </h3>
          </div>
          <div id="installpanel" class="panel-collapse collapse">
            <div class="panel-body">
              <div ng-if="!vm.isLoaded">
                Loading...
              </div>
              <div ng-if="!vm.initialized">
                Please initialize first.
              </div>
              <div ng-if="vm.isLoaded && vm.initialized">
                <div class="col-md-10">
                  &nbsp;
                  <p>
                    Please configure your auth provider.
                  </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="vm.installForm.auth.isEnabled">
                          GitHub
                        </label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div class="row">
                        <div class="col-md-3">
                          Access Key
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="authClientId"
                            ng-model="vm.installForm.auth.data.clientId" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          Secret Key
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="authClientSecret"
                            ng-model="vm.installForm.auth.data.clientSecret" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="authUrl"
                            ng-model="vm.installForm.auth.data.url" ng-disabled="true"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  &nbsp;
                  <p>
                    Review/edit your system's configurations.
                  </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="vm.installForm.api.isEnabled" ng-disabled="true">
                          api
                        </label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div class="row">
                        <div class="col-md-3">
                          URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="apiUrl"
                            ng-model="vm.installForm.api.data.url" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="vm.installForm.state.isEnabled" ng-disabled="true">
                          Gitlab
                        </label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div class="row">
                        <div class="col-md-3">
                          Password
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="statePassword"
                            ng-model="vm.installForm.state.data.password" ng-disabled="true"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          Username
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="stateURL"
                            ng-model="vm.installForm.state.data.username" ng-disabled="true"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="stateURL"
                            ng-model="vm.installForm.state.data.url" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="vm.installForm.mktg.isEnabled" ng-disabled="true">
                          mktg
                        </label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div class="row">
                        <div class="col-md-3">
                          URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="mktgUrl"
                            ng-model="vm.installForm.mktg.data.url" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="vm.installForm.msg.isEnabled" ng-disabled="true">
                          RabbitMQ
                        </label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div class="row">
                        <div class="col-md-3">
                          amqp URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="msgAmqpUrl"
                            ng-model="vm.installForm.msg.data.amqpUrl" ng-disabled="true"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          amqp Root Url
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="msgAmqpUrlRoot"
                            ng-model="vm.installForm.msg.data.amqpUrlRoot" ng-disabled="true"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          amqp Admin URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="msgAmqpUrlAdmin"
                            ng-model="vm.installForm.msg.data.amqpUrlAdmin" ng-disabled="true"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          amqp Default Exchange
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="msgAmqpDefaultExchange"
                            ng-model="vm.installForm.msg.data.amqpDefaultExchange" ng-disabled="true"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          Root Queue List
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="msgRootQueueList"
                            ng-model="vm.installForm.msg.data.rootQueueList" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="vm.installForm.redis.isEnabled" ng-disabled="true">
                          Redis
                        </label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div class="row">
                        <div class="col-md-3">
                          URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="redisUrl"
                            ng-model="vm.installForm.redis.data.url" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="vm.installForm.www.isEnabled" ng-disabled="true">
                          www
                        </label>
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div class="row">
                        <div class="col-md-3">
                          URL
                        </div>
                        <div class="col-md-9">
                          <input type="text" class="form-control" name="wwwUrl"
                            ng-model="vm.installForm.www.data.url" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- System Settings -->
                <div class="col-md-10">
                  &nbsp;
                  <p>
                    Review/edit your system's settings.
                  </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                  <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                      <div class="row" ng-repeat="setting in vm.installForm.systemSettings">
                        <div class="col-md-3">
                          {{setting.name}}
                        </div>
                        <div class="col-md-9">
                          <input type="{{setting.type}}" ng-class="{'form-control': setting.type !== 'checkbox'}"  name="settings{{key}}"
                            ng-model="setting.value" ng-disabled="vm.installing"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  &nbsp;
                  <p>
                    Core services to be installed:
                  </p>
                </div>
                <div class="col-md-offset-1 col-md-10">
                  <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                      <div class="row">
                        <table class="table table-condensed table-striped">
                          <thead>
                          </thead>
                          <tbody>
                            <tr ng-repeat="service in vm.coreServices">
                              <td>
                                <b>{{service.serviceName}}</b>
                              </td>
                              <td>
                              </td>
                              <td>
                              </td>
                              <td>
                              </td>
                              <td class="text-right">
                                Replicas:
                              </td>
                              <td>
                                {{service.replicas}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  &nbsp;
                </div>
                <div class="col-md-offset-1 col-md-10 text-right">
                  <p>
                    &nbsp;
                  </p>
                  <button class="btn btn-md btn-primary" type="submit" ng-disabled="vm.installing" ng-click="vm.install()">
                    <div ng-if="vm.installing">
                      Installing...
                    </div>
                    <div ng-if="!vm.installing">
                      Install
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#addonpanel">3. Add-ons</a>
            </h3>
          </div>
          <div id="addonpanel" class="panel-collapse collapse">
            <div class="panel-body">
              test data
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Configs Modal -->
  <div class="modal fade" id="configsModal"
    tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{vm.selectedService.displayName}} Configs</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="config in vm.selectedService.configs">
                <td>
                  <b>{{config.key}}:</b>
                </td>
                <td style="word-wrap: break-word; word-break: break-all;">
                  {{config.value}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- Logs Modal -->
  <div class="modal fade" id="logsModal"
    tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            {{vm.selectedService.displayName}} Logs
            <button class="btn btn-sm btn-default" ng-click="vm.refreshLogs()">
              Refresh
            </button>
          </h4>
        </div>
        <div class="modal-body ship-console">
          <div class="ship-console-command-line" ng-repeat="log in vm.selectedService.logs track by $index">
            {{log}}
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
