LOGIN_TOKEN=""
DB_IP=""
ADMIRAL_IP=""
ACCESS_KEY=""
SECRET_KEY=""
SERVICE_USER_TOKEN=""
RELEASE="master"
INSTALL_MODE="local"
DB_PORT="5432"
DB_USER="apiuser"
DB_NAME="shipdb"
DB_PASSWORD=""
DB_DIALECT="postgres"
DB_INSTALLED=false
RUN_MODE="dev"
PUBLIC_IMAGE_REGISTRY="drydock"
PRIVATE_IMAGE_REGISTRY="374168611083.dkr.ecr.us-east-1.amazonaws.com"
VAULT_URL=""
VAULT_TOKEN=""
