LOGIN_TOKEN=""
DB_IP=""
ADMIRAL_IP=""
ACCESS_KEY=""
SECRET_KEY=""
RELEASE="master"
INSTALL_MODE="local"
DB_PORT="5432"
DB_USER="apiuser"
DB_NAME="shipdb"
DB_PASSWORD="testing1234"
DB_DIALECT="postgres"
RUN_MODE="dev"
