<!DOCTYPE html>
<html ng-app="admiral">

<head lang="en">
  <meta charset="UTF-8">
  <base href="/" target="_self">
  <style>
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
    display: none !important;
  }
  </style>
  <title ng-if="!_r.title">Shippable Admiral</title>
  <meta name="title" content="Shippable Admiral">
  <title ng-cloak>{{_r.title}}</title>
  <!-- Mobile viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta description -->
  <meta name="description" content="Continuous Integration and Deployment platform for Docker">
  <meta name="author" content="Shippable, Inc.">

  <!-- CSS -->
  <link rel="stylesheet" href="app.cat.css" />
</head>

<body>
<div ng-if="admiralPathName === 'index' || !admiralPathName">
  <link rel='stylesheet prefetch' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' />

    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="padding: 10px">
            <img src="/images/shippable-logo-white.png" alt="Shippable white dark version">
          </a>
        </div>
      </div>
    </nav>
    <!-- Horn -->
    <div id="horn" class="ss-horn-bar">
     <div ng-cloak class="alert {{hornMessageStyle(horn)}} ss-natural-word-break ss-page-container"
       ng-repeat="horn in horns">
       <a href="" class="pull-right" ng-click="removeHornMessage(horn)">x</a>
       <div ng-bind-html="horn.message"></div>
     </div>
    </div>
    <!-- Loading app -->
    <div class="ship-center-loading ss-text-center" ng-if="!_r.appLoaded && _r.loadingMessage" style="z-index:1000;">
      <i class="fa fa-life-ring fa-spin sf-200"></i>
      <div class="seperator"></div>
      <i class="sf-16" ng-if="!_r.loadingMessage">Loading...</i>
      <i class="sf-16" ng-cloak>{{_r.loadingMessage}}</i>
    </div>
    <!-- View Body -->
    <div ng-cloak ui-view ng-if="_r.appLoaded">
    </div>
</div>

  <!-- load script library -->
  <script src="lib.min.js"></script>
  <!-- ngApp Start -->
  <script src="app.cat.js"></script>
  <!---->

<div ng-if="admiralPathName === 'index2'">
  <!-- CSS -->
  <link href="/app/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/core.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/icons.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/components.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/menu.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/responsive.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/shippable.css" rel="stylesheet" type="text/css">

  <script src="/app/assets/js/modernizr.min.js"></script>

  <!-- Begin page -->
  <div id="wrapper">

      <!-- Top Bar Start -->
      <div class="topbar">

          <!-- LOGO -->
          <div class="topbar-left">
            <div class="text-center">
              <a href="/" target="_self" class="logo"><img src="/app/assets/images/shippable-logo.png">
                <span><img src="/app/assets/images/shippable-text-white.png"></span>
              </a>
            </div>
          </div>

          <!-- Navbar -->
          <div class="navbar navbar-default" role="navigation">
              <div class="container">
                  <div class="">
                      <div class="pull-left">
                          <button
                            class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="md md-chevron-left"></i>
                          </button>
                          <span class="clearfix"></span>
                      </div>

                      <ul class="nav navbar-nav navbar-right pull-right">

                          <li class="hidden-xs">
                              <a href="#" class="right-bar-toggle waves-effect waves-light"><i
                                      class="md md-settings"></i></a>
                          </li>

                      </ul>
                  </div>
                  <!--/.nav-collapse -->
              </div>
          </div>

      </div>
      <!-- Top Bar End -->

        <!-- START NEW ADMIRAL -->
        <!-- Loading app -->
        <div class="ship-center-loading ss-text-center" ng-if="!_r.appLoaded && _r.loadingMessage" style="z-index:1000;">
          <i class="fa fa-life-ring fa-spin sf-200"></i>
          <div class="seperator"></div>
          <i class="sf-16" ng-if="!_r.loadingMessage">Loading...</i>
          <i class="sf-16" ng-cloak>{{_r.loadingMessage}}</i>
        </div>
        <!-- View Body -->
        <div ng-cloak ui-view ng-if="_r.appLoaded">
        </div>
        <!-- END NEW ADMIRAL -->


      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->

      <!-- Right Sidebar -->
      <div class="side-bar right-bar">
          <div class="nicescroll">
              <ul class="nav nav-tabs tabs">
                  <li class="active tab">
                      <a href="#profile-2" data-toggle="tab" aria-expanded="false">
                          <span class="visible-xs"><i class="fa fa-user"></i></span>
                          <span class="hidden-xs">Chat</span>
                      </a>
                  </li>
                  <li class="tab">
                      <a href="#messages-2" data-toggle="tab" aria-expanded="true">
                          <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                          <span class="hidden-xs">Settings</span>
                      </a>
                  </li>
              </ul>
              <div class="tab-content">

                  <div class="tab-pane fade in active" id="profile-2">
                      <div class="contact-list nicescroll">
                          <ul class="list-group contacts-list">
                              <li class="list-group-item">
                                  <a href="#">
                                      <div class="avatar">
                                          <img src="assets/images/users/avatar-1.jpg" alt="">
                                      </div>
                                      <span class="name">Chadengle</span>
                                      <i class="fa fa-circle online"></i>
                                  </a>
                                  <span class="clearfix"></span>
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="tab-pane fade" id="messages-2">

                      <div class="row m-t-20">
                          <div class="col-xs-8">
                              <h5 class="m-0">Notifications</h5>
                              <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                          </div>
                          <div class="col-xs-4 text-right">
                              <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                          </div>
                      </div>

                      <div class="row m-t-20">
                          <div class="col-xs-8">
                              <h5 class="m-0">API Access</h5>
                              <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                          </div>
                          <div class="col-xs-4 text-right">
                              <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                          </div>
                      </div>

                      <div class="row m-t-20">
                          <div class="col-xs-8">
                              <h5 class="m-0">Auto Updates</h5>
                              <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                          </div>
                          <div class="col-xs-4 text-right">
                              <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                          </div>
                      </div>

                      <div class="row m-t-20">
                          <div class="col-xs-8">
                              <h5 class="m-0">Online Status</h5>
                              <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                          </div>
                          <div class="col-xs-4 text-right">
                              <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <!-- /Right-bar -->

    </div>
    <!-- END wrapper -->


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery -->
    <script src="/app/assets/js/detect.js"></script>
    <script src="/app/assets/js/fastclick.js"></script>
    <script src="/app/assets/js/jquery.slimscroll.js"></script>
    <script src="/app/assets/js/jquery.blockUI.js"></script>
    <script src="/app/assets/js/waves.js"></script>
    <script src="/app/assets/js/wow.min.js"></script>
    <script src="/app/assets/js/jquery.nicescroll.js"></script>
    <script src="/app/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Modal-Effect -->
    <script src="/app/plugins/custombox/dist/custombox.min.js"></script>
    <script src="/app/plugins/custombox/dist/legacy.min.js"></script>

    <script src="/app/assets/js/jquery.core.js"></script>
    <script src="/app/assets/js/jquery.app.js"></script>
</div>

</body>

</html>
