<!DOCTYPE html>
<html ng-app="admiral">

<head lang="en">
  <meta charset="UTF-8">
  <base href="/" target="_self">
  <style>
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
    display: none !important;
  }
  </style>
  <title ng-if="!_r.title">Shippable Admiral</title>
  <meta name="title" content="Shippable Admiral">
  <title ng-cloak>{{_r.title}}</title>
  <!-- Mobile viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta description -->
  <meta name="description" content="Continuous Integration and Deployment platform for Docker">
  <meta name="author" content="Shippable, Inc.">

  <!-- CSS -->
  <link rel="stylesheet" href="app.cat.css" />
</head>

<body>

  <!-- load script library -->
  <script src="lib.min.js"></script>
  <!-- ngApp Start -->
  <script src="app.cat.js"></script>
  <!---->

<div>
  <!-- CSS -->
  <link href="/app/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/core.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/icons.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/components.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/menu.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/responsive.css" rel="stylesheet" type="text/css">
  <link href="/app/assets/css/shippable.css" rel="stylesheet" type="text/css">

  <script src="/app/assets/js/modernizr.min.js"></script>

  <!-- Begin page -->
  <div id="wrapper">

      <!-- Top Bar Start -->
      <div class="topbar">

          <!-- LOGO -->
          <div class="topbar-left">
            <div class="text-center">
              <a href="/" target="_self" class="logo"><img src="/app/assets/images/shippable-logo.png">
                <span><img src="/app/assets/images/shippable-text-white.png"></span>
              </a>
            </div>
          </div>

          <!-- Navbar -->
          <div class="navbar navbar-default" role="navigation">
              <div class="container">
                  <div class="">
                      <div class="pull-left">
                          <button
                            class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="md md-chevron-left"></i>
                          </button>
                          <span class="clearfix"></span>
                      </div>

                      <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs" tooltip-placement="bottom" uib-tooltip="Documentation">
                          <a href="http://docs.shippable.com" target="_blank" class="waves-effect waves-light">
                            <i class="fa fa-book"></i>
                          </a>
                        </li>
                        <li class="hidden-xs" tooltip-placement="bottom" uib-tooltip="Support">
                          <a href="https://github.com/Shippable/support" target="_blank" class="waves-effect waves-light">
                            <i class="fa fa-comments-o"></i>
                          </a>
                        </li>
                        <li class="hidden-xs" tooltip-placement="bottom" uib-tooltip="EULA">
                          <a href="#" class="waves-effect waves-light" ng-click="_r.openEULA()">
                            <i class="fa fa-legal"></i>
                          </a>
                        </li>
                      </ul>
                  </div>
                  <!--/.nav-collapse -->
              </div>
          </div>

      </div>
      <!-- Top Bar End -->

        <!-- START NEW ADMIRAL -->
        <!-- Loading app -->
        <div class="ship-center-loading ss-text-center" ng-if="!_r.appLoaded && _r.loadingMessage" style="z-index:1000;">
          <i class="fa fa-life-ring fa-spin sf-200"></i>
          <div class="seperator"></div>
          <i class="sf-16" ng-if="!_r.loadingMessage">Loading...</i>
          <i class="sf-16" ng-cloak>{{_r.loadingMessage}}</i>
        </div>
        <!-- View Body -->
        <div ng-cloak ui-view ng-if="_r.appLoaded">
        </div>
        <!-- END NEW ADMIRAL -->


      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery -->
    <script src="/app/assets/js/detect.js"></script>
    <script src="/app/assets/js/fastclick.js"></script>
    <script src="/app/assets/js/jquery.slimscroll.js"></script>
    <script src="/app/assets/js/jquery.blockUI.js"></script>
    <script src="/app/assets/js/waves.js"></script>
    <script src="/app/assets/js/wow.min.js"></script>
    <script src="/app/assets/js/jquery.nicescroll.js"></script>
    <script src="/app/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Modal-Effect -->
    <script src="/app/plugins/custombox/dist/custombox.min.js"></script>
    <script src="/app/plugins/custombox/dist/legacy.min.js"></script>

    <script src="/app/assets/js/jquery.core.js"></script>
    <script src="/app/assets/js/jquery.app.js"></script>
</div>

</body>

</html>
